{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>

<body>

    <center><h1 class="title is-1">CHOOSE YOUR HERO</h1></center>

    <div class="columns is-multiline" id="hero-display">    
    </div>

    <!-- ul method -->
    <!-- <ul id="hero-display"></ul> -->
    <button onclick="toggleHeroForm()" id="heroform-display">+</button>
    <form id="heroform" style="display: none" enctype="multipart/form-data">Stuff here, y'all.<br>
        <label for="name">Hero name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="alias">Hero alias:</label>
        <input type="text" id="alias" name="alias"><br>
        <label for="portrait">Hero portrait:</label>
        <input type="file" id="portrait" name="portrait"><br>
        <input type="submit" value="Submit"><br>
    </form>

</body>

</html>